.emojiButton {
  background-color: #330f0f;
  /* Green */
  border: none;
  color: #EC4847;
  width: 36px;
  height: 36px;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: red;
  border: 2px solid red; }
  .emojiButton:hover {
    background-color: #a00000;
    color: #EC4847; }
